<div class="row row-offcanvas row-offcanvas-left " style="margin-top:60px;">
	<!--Bagian Kiri-->
	<div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
	  <div class="list-group">
	    <h1> Riku Kiranatama </h1>
	    <%= image_tag "face.jpg", class: "img-circle", width: "100" %>
	  </div>
	</div>

	<!--Bagian Kanan-->
	<div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
	 <div class="panel-body">
	   <form class="form-horizontal" role="form">
	      <div class="form-group">
	        <label for="inputEmail3" class="control-label">Email</label>
	        <div class="col-sm-8 main pull-right">
	          <input type="email" class="form-control" id="inputEmail3" placeholder="Email Anda">
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="inputMessage3" class="control-label">Message</label>
	        <div class="col-sm-8 main pull-right">
	          <textarea class="form-control" rows="10" placeholder="Message Anda"></textarea>
	        </div>
	      </div>
	      <div class="form-group">
	          <button type="submit" class="btn btn-default">Submit</button>
	      </div>
	    </form>
	  </div>
	</div>
</div>