<div class="row" style="margin-top:60px;">
    <!--slides-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:1100px; margin:auto;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
      	<div class="item active">
          <%= image_tag "sore-hari.jpg" %>
          <div class="carousel-caption">
            <h3>Gang di kota bandung</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag "kuil.jpg" %>
          <div class="carousel-caption">
            <h3>Kuil</h3>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <div class="row row-offcanvas row-offcanvas-left " style="padding-top:10px;">
    <!--Bagian Kiri-->
    <div class="col-xs-12 col-sm-5 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="media-body">
        Hello saya Riku dan saya saat ini akan lulus dari kuliah,<br> salam kenal ya. Berikut contoh dari hasil design grafik <br> yang saya buat :)
      </div>
    </div>

    <!--Bagian Kanan-->
    <div class="col-xs-12 col-sm-3 main pull-right">
     <div class="media-body">
           Facebook : riku@mail.com<br><br>
           Twiter : riku@mail.com<br><br>
           Telepon : 022-232392<br><br>
           Alamat :Jl.Harapan Bangas no.23, Bandung, Indonesia 
      </div>
    </div>
  </div>
</div>