<div class="row row-offcanvas row-offcanvas-left " style="margin-top:60px;">
	<!--Bagian Kiri-->
	<div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
	  <div class="list-group">
	    <h1> Riku Kiranatama </h1>
	    <%= image_tag "face.jpg", class: "img-circle", width: "100" %>
	  </div>
	</div>

	<!--Bagian Kanan-->
	<div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
	 <div class="panel-body">
	   <table  class="table table-hover table-striped" >
	     <tbody>
	       <tr>
	         <td><b>Nama</b></td>
	         <td>Riku Kiranatama</td>
	       </tr>
	       <tr>
	         <td><b>Tempat, Tanggal Lahir</b></td>
	         <td>Bandung, 7 Oktober 1989</td>
	       </tr>
	       <tr>
	         <td><b>Jenis Kelamin</b></td>
	         <td>Pria</td>
	       </tr>
	       <tr>
	         <td><b>Alamat Domisili</b></td>
	         <td>Jl. Soekarno Hatta No. 104</td>
	       </tr>
	     </tbody>
	   </table>
	  </div>
	</div>
</div>